<table>
    <thead>
     <tr>
       <th *ngFor="let item of users?.data[0] | keyvalue">
         {{item.key}}
       </th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users?.data">
       <td>{{item.avatar}}</td>
       <td>{{item.email}}</td>
       <td>{{item.first_name}}</td>
       <td>{{item.id}}</td>
       <td>{{item.last_name}}</td>
      </tr>
    </tbody>
  </table>
  <p>
    Formatted Phone Number: <b>{{ myNumber | phoneFormat }}</b>
  </p>
  <p>
    {{dateNow | date: 'dd/MM/yyyy'}}
  </p>