table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .user-list-table {
    width:90% !important;
    margin:auto;
  }
  .formatted-data {
    width:90%!important;
    margin:auto;
  }
  .registration-form {
    width:70%;
    border: solid 1px gainsboro;
    padding: 15px;
    margin: 30px auto 30px auto;
  }
  .registration-form h2 {
    border-bottom: solid 1px gainsboro;
    margin-bottom: 20px;
  }
  .registration-form .form-group,login-form .form-group {
    margin-bottom:15px;
  }
  .login-form {
    width:40%;
    border: solid 1px gainsboro;
    padding: 15px;
    margin: 30px auto 30px auto;
  }
  .btn-submit {
    margin-top:10px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
  }
  .profile-page {
    width:50%;
    margin:auto;
    border: solid 1px gainsboro;
    padding: 10px;
  }
  .page-header {
    border-bottom: solid 1px gainsboro;
    margin-bottom: 20px;
  }
  .btn-register {
    margin-left:10px;
    border:solid 1px black !important;
  }